.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}

input{
    font-size: 30px;
    border: 3px solid black;
    border-radius: 12px;

}
button{
    font-size: 30px;
    background-color: rgb(0, 189, 126);
    width: 90px;
    height: 55px;
    margin-top: 10px;
    border-radius: 15px;
}
.calculator{
    display: inline-block;
    background-color: rgb(162, 253, 223);
    padding: 20px;
    border-radius: 30px;
}